/* 
    Document   : controlStyle1
*/
#CompareButton
{	-fx-background-color: white;
	-fx-background-radius: 10;
	 -fx-font-size:1.5em;
     -fx-text-fill:#0071C5;
	 -fx-padding: 0 5 0 5;
	 -fx-border-radius: 10;
	 -fx-border-color: white;
	 -fx-wrap-text: true;
	 -fx-text-alignment: left;
}

#CompareButton:hover
{	 -fx-background-color: #00AEEF;
	 -fx-font-size:1.5em;
     -fx-text-fill:#FFFFFF;
	 -fx-border-color: #FFA300;
}

#CompareSelected
{	-fx-background-color:  #00AEEF;
	 -fx-font-size:1.5em;
     -fx-text-fill:#FFFFFF;
	 -fx-padding: 0 5 0 5;
	 -fx-background-radius: 10;
	 -fx-border-radius: 10;
	 -fx-border-color: #FFA300;
	 -fx-wrap-text: true;
	 -fx-text-alignment: left;
}