/* 
    Document   : nothing yet
*/
/* .default-color0.chart-bar { -fx-bar-fill: CHART_COLOR_1;
	-fx-background-color:   linear-gradient(to top, 
										rgb(0,200,0) 0%,
										rgb(0,255,64) 75%,
                                        rgb(128,255,64) 85%,
										rgb(255,255,0) 95%,
                                        rgb(255,0,0) 100%
                              );
   } */

   
.chart-plot-background {
    -fx-background-color: transparent;
}
  
.default-color0.chart-bar { -fx-bar-fill: -CHART_COLOR_1; }
.default-color1.chart-bar { -fx-bar-fill: -CHART_COLOR_2; }


   
.axis {
    AXIS_COLOR: transparent;
    -fx-tick-label-font-size: .8em; /* 16px */
    -fx-tick-label-fill: -fx-text-background-color;
	}
	